.App {
  padding: 1em;
}

.hover-pointer:hover {
  cursor: pointer;
}

.add-card-cell {
  width: 90%;
}

.edit-card {
  display: flex;
  justify-content: center;
}

.m-05 {
  margin: 0.5em !important;
}

.text-align-center {
  text-align: center;
}

.queue {
  padding: 1em 3em;
  height: 80vh;
}

.queue-stats {
  display: flex;
  justify-content: flex-end;
}

.queue-card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 70%;
}

.queue-card h2 {
  margin-bottom: 3em;
}

.queue-card h3 {
  margin-bottom: 3em;
}

.hidden {
  visibility: hidden;
}

.create-form {
  margin-top: 2em !important;
  max-width: 30em !important;
  margin: auto;
}

.ml-05 {
  margin-left: 0.5em;
}

.lock-icon {
  font-size: 1em !important;
  right: 15px !important;
  bottom: 15px !important;
}

/* categories */
.categories {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.category {
  background: tomato;
  padding: 5px;
  margin: 10px;
  width: 210px;
  height: 150px;
  margin-top: 10px;
  color: white;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
  box-shadow: 0 0 0 1px #d4d4d5, 0 2px 4px 0 rgba(34, 36, 38, 0.12),
    0 2px 10px 0 rgba(34, 36, 38, 0.15);
  display: flex;
  align-items: center;
  justify-content: center;
}

.category:hover {
  cursor: pointer;
  background: rgb(255, 121, 97);
}

.category p {
  text-transform: capitalize;
}

.capitalize {
  text-transform: capitalize !important;
}

.subject {
  background: yellowgreen;
}

.reverse-card {
  position: absolute;
  right: 0;
  background: none !important;
  width: 0;
}

.back-button {
  position: absolute;
  left: 0;
  background: none !important;
  width: 0;
}
