.App {
  padding: 1em;
}

.hover-pointer:hover {
  cursor: pointer;
}

.add-card-cell {
  width: 90%;
}

.edit-card {
  display: flex;
  justify-content: center;
}

.m-05 {
  margin: 0.5em !important;
}

.text-align-center {
  text-align: center;
}

.queue {
  padding: 1em 3em;
  height: 80vh;
}

.queue-stats {
  display: flex;
  justify-content: flex-end;
}

.queue-card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 70%;
}

.queue-card h2 {
  margin-bottom: 3em;
}

.queue-card h3 {
  margin-bottom: 3em;
}

.hidden {
  visibility: hidden;
}

.create-form {
  margin-top: 2em !important;
  max-width: 30em !important;
  margin: auto;
}
